body {
  padding: 0;
  margin: 10px;
  background-color: white;
}

.message {
  width: 610px;
  text-align: center;
  line-height: 55px;
  margin: 10px auto;
  background-color: hsl(140deg, 100%, 85%);
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  border-radius: 10px;
}

.container {
  width: 100%;
}

.frame-border {
  position: relative;
  /* border: 5px solid lightcoral; */
  background: white;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.particle {
  position: absolute;
  /* border-radius: 50%; */
  /* border: 1px dotted red; */
  cursor: pointer;
}

.particle img {
  position: absolute;
  /* border: 1px dotted blue;  */
  cursor: pointer;
  top: -11px;
  left: -11px;
}
